In [42]:
# Import the dependencies.
from pathlib import Path
from sqlalchemy import create_engine
import pandas as pd


from sqlalchemy import create_engine
#engine = create_engine('postgresql+psycopg2://coleo@Cole:postgres@localhost/YelpCSVs')

user = 'postgres'
password = 'postgres'
host = 'localhost'
port = '5432'
database = 'YelpCSVs'

connection_string =(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

query = """
SELECT *
FROM yelpcsvsrestaurants
"""

df = pd.read_sql_query(query,engine)

In [43]:
df.head ()

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Girl & The Goat,809 W Randolph,60607.0,Chicago,IL,US,41.884181,-87.647947,4.4
1,The Perch,1932 W Division,60622.0,Chicago,IL,US,41.903480,-87.676221,4.4
2,The Dearborn,145 N Dearborn St,60602.0,Chicago,IL,US,41.884253,-87.629315,4.4
3,The Purple Pig,444 N Michigan Ave,60611.0,Chicago,IL,US,41.890694,-87.624782,4.3
4,Penumbra,3309 W Fullerton Ave,60647.0,Chicago,IL,US,41.924426,-87.710898,4.8

In [40]:
engine.connect()