In [1]:
# Dependencies
import pandas as pd
import requests
import json
import pprint
import urllib
from urllib.parse import quote

In [2]:
# Constants
api_key = 'sp8XYAjUKMfB3Ju6COkBTJUBdCID_zRqvRvyis5_azBv823YKx30j85LTyZl2h6q0p4_CHwLQeFO_n-UXsLRqWFVlPuFq4kXiOWdCald8vg1OxyTtYtas3uMiEgLZnYx'
base_url = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/search'
BUSINESS_PATH = '/v3/businesses/'

In [3]:
# Pulling restaurant data for Detroit, Michigan and putting it into a DataFrame

# Parameters
MI_url_params = {
    'term': 'restaurants',
    'location': 'Detriot, Mi',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
Detroit_Restaurants = requests.get(url, headers=headers, params=MI_url_params).json()

# Setting up the columns for our DataFrame
Detroit_Restaurants_List = []

for venue in Detroit_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    Detroit_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
Detroit_df = pd.DataFrame(Detroit_Restaurants_List)
Detroit_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Adelina,1040 Woodward Ave,48226,Detroit,MI,US,42.332922,-83.047456,5.0
1,Mad Nice,4120 Second Ave,48201,Detroit,MI,US,42.349100,-83.064960,4.1
2,Selden Standard,3921 2nd Ave,48201,Detroit,MI,US,42.347790,-83.064990,4.4
3,Alpino,1426 Bagley St,48216,Detroit,MI,US,42.329946,-83.065102,4.6
4,Presley's,1 Park Ave,48226,Detroit,MI,US,42.335675,-83.050527,4.1
5,Sexy Steak,1942 Grand River Ave,48226,Detroit,MI,US,42.335020,-83.054980,4.5
6,BARDA Detroit,4842 Grand River Ave,48208,Detroit,MI,US,42.348500,-83.087860,4.4
7,Ottava Via,1400 Michigan Ave,48216,Detroit,MI,US,42.331716,-83.065696,4.2
8,Oak & Reel,2921 E Grand Blvd,48202,Detroit,MI,US,42.372278,-83.066819,4.5
9,Grey Ghost Detroit,47 Watson St,48201,Detroit,MI,US,42.345170,-83.055517,4.2
10,Wright & Company,1500 Woodward Ave,48226,Detroit,MI,US,42.335230,-83.049020,4.3
11,Bar Pigalle,2915 John R St,48201,Detroit,MI,US,42.344947,-83.053970,4.4
12,Babo Detroit,15 E Kirby St,48202,Detroit,MI,US,42.360556,-83.066466,4.4
13,The Eagle,3461 Woodward Ave,48201,Detroit,MI,US,42.346260,-83.057422,4.2
14,Chartreuse Kitchen & Cocktails,15 E Kirby St,48202,Detroit,MI,US,42.360298,-83.066260,4.6
15,Supergeil,2442 Michigan Ave,48216,Detroit,MI,US,42.331566,-83.080071,4.5
16,Ima Izakaya,2100 Michigan Ave,48216,Detroit,MI,US,42.331634,-83.075355,4.4
17,Grandma Bob's,2135 Michigan Ave,48216,Detroit,MI,US,42.331130,-83.075840,4.5
18,Basan Detroit,2703 Park Ave,48201,Detroit,MI,US,42.341470,-83.056720,4.1
19,Batch Brewing Company,1400 Porter St,48216,Detroit,MI,US,42.328343,-83.063294,4.5

In [8]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
Detroit_df.to_csv("c:/Users/jclaw/Desktop/Detroit_df.csv", index=False, header=True)

In [7]:
# Pulling restaurant data for Chicago, Illinois and putting it into a DataFrame

# Parameters
Il_url_params = {
    'term': 'restaurants',
    'location': 'Chicago, Il',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
Chicago_Restaurants = requests.get(url, headers=headers, params=Il_url_params).json()

# Setting up the columns for our DataFrame
Chicago_Restaurants_List = []

for venue in Chicago_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    Chicago_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
Chicago_df = pd.DataFrame(Chicago_Restaurants_List)
Chicago_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Girl & The Goat,809 W Randolph,60607,Chicago,IL,US,41.884181,-87.647947,4.4
1,The Perch,1932 W Division,60622,Chicago,IL,US,41.903480,-87.676221,4.4
2,The Dearborn,145 N Dearborn St,60602,Chicago,IL,US,41.884253,-87.629315,4.4
3,The Purple Pig,444 N Michigan Ave,60611,Chicago,IL,US,41.890694,-87.624782,4.3
4,Penumbra,3309 W Fullerton Ave,60647,Chicago,IL,US,41.924426,-87.710898,4.8
5,etta - Bucktown,1840 W North Ave,60622,Chicago,IL,US,41.910731,-87.674285,4.3
6,Giant,3209 W Armitage Ave,60647,Chicago,IL,US,41.917100,-87.707460,4.3
7,Amaru,1904 W North Ave,60622,Chicago,IL,US,41.910699,-87.675507,4.7
8,Ciccio Mio,226 W Kinzie St,60654,Chicago,IL,US,41.889390,-87.635240,4.7
9,The Whale Chicago,2427 N Milwaukee Ave,60647,Chicago,IL,US,41.925550,-87.701120,4.2
10,La Serre,307 N Green St,60607,Chicago,IL,US,41.886990,-87.648480,5.0
11,Au Cheval,800 W Randolph St,60607,Chicago,IL,US,41.884660,-87.647668,4.4
12,Daisies,2375 N Milwaukee Ave,60647,Chicago,IL,US,41.924444,-87.699647,4.3
13,No Vacancy,509 N Wells St,60654,Chicago,IL,US,41.891150,-87.633750,4.6
14,Kasama,1001 N Winchester Ave,60622,Chicago,IL,US,41.899692,-87.675600,4.5
15,Lone Owl Pub,1547 N Milwaukee Ave,60622,Chicago,IL,US,41.909767,-87.676052,4.6
16,Aba,302 N Green St,60607,Chicago,IL,US,41.886944,-87.648795,4.5
17,Mother’s Ruin,2943 N Milwaukee Ave,60618,Chicago,IL,US,41.934950,-87.716470,4.3
18,Armitage Alehouse,1000 W Armitage Ave,60614,Chicago,IL,US,41.918380,-87.653590,4.6
19,Italian Homemade Company,947 W Fulton Market St,60607,Chicago,IL,US,41.886620,-87.651680,4.7

In [9]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
Chicago_df.to_csv("c:/Users/jclaw/Desktop/Chicago_df.csv", index=False, header=True)

In [10]:
# Pulling restaurant data for New York City, New York and putting it into a DataFrame

# Parameters
NYC_url_params = {
    'term': 'restaurants',
    'location': 'New York, NYC',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
New_York_City_Restaurants = requests.get(url, headers=headers, params=NYC_url_params).json()

# Setting up the columns for our DataFrame
New_York_City_Restaurants_List = []

for venue in New_York_City_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    New_York_City_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
New_York_City_df = pd.DataFrame(New_York_City_Restaurants_List)
New_York_City_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Olio e Più,3 Greenwich Ave,10014,New York,NY,US,40.733798,-73.999774,4.5
1,Antidote,66 S 2nd St,11249,Brooklyn,NY,US,40.714186,-73.965493,4.6
2,Thursday Kitchen,424 E 9th St,10009,New York,NY,US,40.727610,-73.983730,4.4
3,Time Out Market New York,55 Water St,11201,Brooklyn,NY,US,40.703429,-73.992146,4.0
4,Sukh,723 Fulton St,11217,Brooklyn,NY,US,40.687265,-73.976381,5.0
5,Cafe Mogador,133 Wythe Ave,11211,Brooklyn,NY,US,40.719747,-73.959993,4.4
6,Fishmarket Restaurant,111 South St,10038,New York,NY,US,40.707170,-74.001920,4.4
7,Amélie,22 W 8th St,10011,New York,NY,US,40.732700,-73.997660,4.3
8,Kong Sihk Tong 港食堂,65 Bayard St,10013,New York,NY,US,40.715434,-73.998119,4.1
9,Fish Cheeks,55 Bond St,10012,New York,NY,US,40.725800,-73.992700,4.4
10,Joe's Shanghai,46 Bowery St,10013,New York,NY,US,40.715661,-73.996701,3.8
11,Raku,48 Macdougal St,10012,New York,NY,US,40.727248,-74.002539,4.5
12,Kuun,290 Livingston St,11217,Brooklyn,NY,US,40.688429,-73.983151,4.3
13,The Leroy House,430 Hudson St,10014,New York,NY,US,40.730630,-74.006610,4.4
14,Gurumé,313 W 46th St,10036,New York,NY,US,40.760301,-73.988564,4.8
15,Bee's Knees & Honey Lounge,65 N 7th St,11249,Brooklyn,NY,US,40.720125,-73.961250,4.7
16,Barbalu - Brooklyn,68 Bergen St,11201,Brooklyn,NY,US,40.686757,-73.991015,4.4
17,Crab House All You Can Eat Seafood,135 E 55th St,10022,New York,NY,US,40.759664,-73.969776,4.4
18,Hojokban,128 Madison Ave,10016,New York,NY,US,40.745736,-73.984795,4.5
19,Westville,81 Washington St,11201,Brooklyn,NY,US,40.702089,-73.989454,4.2

In [11]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
New_York_City_df.to_csv("c:/Users/jclaw/Desktop/New_York_City_df.csv", index=False, header=True)

In [12]:
# Pulling restaurant data for Los Angeles, California and putting it into a DataFrame

# Parameters
CA_url_params = {
    'term': 'restaurants',
    'location': 'Los Angeles, Ca',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
Los_Angeles_Restaurants = requests.get(url, headers=headers, params=CA_url_params).json()

# Setting up the columns for our DataFrame
Los_Angeles_Restaurants_List = []

for venue in Los_Angeles_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    Los_Angeles_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
Los_Angeles_df = pd.DataFrame(Los_Angeles_Restaurants_List)
Los_Angeles_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,L'Antica Pizzeria Da Michele,1534 N Mccadden Pl,90028,Los Angeles,CA,US,34.099061,-118.337309,4.3
1,Republique,624 S La Brea Ave,90036,Los Angeles,CA,US,34.064154,-118.343684,4.2
2,GRANVILLE,8701 Beverly Blvd,90048,West Hollywood,CA,US,34.077130,-118.380680,4.4
3,Kingyubu,3128 West 8th St,90005,Los Angeles,CA,US,34.057451,-118.295235,4.8
4,Running Goose,1620 N Cahuenga Blvd,90028,Los Angeles,CA,US,34.100520,-118.329270,4.3
5,Anju House,234 S Oxford Ave,90004,Los Angeles,CA,US,34.070152,-118.307633,4.3
6,Great White,244 N Larchmont Blvd,90004,Los Angeles,CA,US,34.075877,-118.323393,4.1
7,OSTE,8142 W 3rd St,90048,Los Angeles,CA,US,34.072110,-118.367363,4.7
8,Roasted Duck By Paord,5136 Hollywood Blvd,90027,Los Angeles,CA,US,34.101457,-118.301858,4.9
9,Hangari Kalguksu,3470 W 6th St,90020,Los Angeles,CA,US,34.062860,-118.297570,4.4
10,Met Her At A Bar,759 S La Brea Ave,90036,Los Angeles,CA,US,34.060945,-118.344676,4.4
11,Enchant,681 S Western Ave,90005,Los Angeles,CA,US,34.060421,-118.309614,4.0
12,HanEuem,539 S Western Ave,90020,Los Angeles,CA,US,34.064166,-118.309516,4.4
13,Dasom By Chef Kang,3959 Wilshire Blvd,90010,Los Angeles,CA,US,34.062128,-118.313381,4.8
14,Mother Tongue,960 N La Brea Ave,90038,Los Angeles,CA,US,34.088412,-118.343723,4.1
15,Ka'teen,6516 Selma Ave,90028,Los Angeles,CA,US,34.099480,-118.331670,4.0
16,Pine & Crane,1521 Griffith Park Blvd,90026,Los Angeles,CA,US,34.090540,-118.277129,4.4
17,Met Him At A Bar,801 S La Brea,90036,Los Angeles,CA,US,34.060415,-118.345018,4.3
18,Pasta Sisters,3343 W Pico Blvd,90019,Los Angeles,CA,US,34.047600,-118.317234,4.4
19,The Highlight Room Grill,6417 Selma Ave,90028,Los Angeles,CA,US,34.100160,-118.330140,3.8

In [13]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
Los_Angeles_df.to_csv("c:/Users/jclaw/Desktop/Los_Angeles_df.csv", index=False, header=True)