In [1]:
import requests
import pandas as pd
from sqlalchemy import create_engine
import pprint
#importing requirements

In [2]:
data = pd.read_csv("selena_json.csv")
#reading in csv with pandas

In [8]:
data.drop(columns=['attributes2','attributes3'],inplace=True)
#dropping additional attributes columns

In [16]:
data
#confirming look of data frame, notice that the states are all out of order

,name,address,city,state,zip_code,latitude,longitude,stars,review_count,is_open,categories,attributes
0,12 Bar On Fulton Street,608 Fulton St,New Orleans,LA,70130,29.9465281,-90.0653033,4,17,0,Restaurant,"{""Alcohol"""
1,1750 Bistro,1750 Sumneytown Pike,Kulpsville,PA,19443,40.2450742,-75.3422085,3,18,1,Restaurant,"{""Alcohol"""
2,2 Fat Dogs,1156 Easton Rd,Abington,PA,19001,40.1232208,-75.1328978,5,85,1,Restaurant,"{""Alcohol"""
3,2 Fat Guys,"3801 Kennett Pike, Ste E120",Wilmington,DE,19807,39.7773663,-75.596149,3.5,56,0,Restaurant,"{""Alcohol"""
4,208 Pho & Vegan,812 W Fort St,Boise,ID,83702,43.62218046,-116.198011,4,92,1,Restaurant,"{""Alcohol"""
...,...,...,...,...,...,...,...,...,...,...,...,...
42340,Royal Noodle Bar,228 Poydras St,New Orleans,LA,70130,29.94868806,-90.06557413,3.5,9,1,Restaurant,"Vietnamese, Restaurants"
42342,Banh Mi Cali,"10503 Kingsway NW, #3",Edmonton,AB,T5H 3W1,53.5573402,-113.5014147,4,5,1,Restaurant,"Vietnamese, Restaurants, Sandwiches"
42343,Ramen and Waffles,933 huntley,Dunedin,FL,34698,28.0142571,-82.7889509,5,12,0,Restaurant,"Waffles, Japanese, Food Trucks, Restaurants, F..."
42344,Ike's Artisan Pizza,4569 New Linden Hill Rd,Wilmington,DE,19808,39.734863,-75.6900651,4.5,8,0,Restaurant,"Wraps, Chicken Wings, Restaurants, Pizza, Chee..."
42345,City Greens,1 Terminal Dr,Kenner,LA,70062,29.996167,-90.25517,2,10,1,Restaurant,"Wraps, Salad, Restaurants"

In [17]:
data_sorted = data.sort_values(by='state')
#sorting dataframe by states

In [18]:
data_sorted

,name,address,city,state,zip_code,latitude,longitude,stars,review_count,is_open,categories,attributes
37170,Dairy Queen Grill & Chill,12708 140 Ave NW,Edmonton,AB,T6V 1K4,53.60237411,-113.5421341,3.5,7,1,Restaurant,"{""RestaurantsTakeOut"""
35103,The King & I Thai Cuisine,8208 107 St NW,Edmonton,AB,T6E 6P4,53.5184065,-113.5065455,3,46,0,Restaurant,"{""RestaurantsReservations"""
31857,Wee Book Inn,10328 Jasper Avenue NW,Edmonton,AB,T5J 1Y7,53.5411379,-113.498214,4.5,13,0,Restaurant,"{""RestaurantsPriceRange2"""
35111,The Lunchbox Diner,14413 115 Avenue NW,Edmonton,AB,T5M 3B8,53.565039,-113.569938,4.5,13,1,Restaurant,"{""RestaurantsReservations"""
31856,Wee Book Inn,15125 Stony Plain Road NW,Edmonton,AB,T5P 3Y2,53.541173,-113.582661,3.5,8,0,Restaurant,"{""RestaurantsPriceRange2"""
...,...,...,...,...,...,...,...,...,...,...,...,...
37525,Farm 2 Fork,400 21st Ave S,Nashville,TN,37203,36.1472009,-86.7988801,3,8,1,Restaurant,"{""RestaurantsTakeOut"""
19480,ALDI,615 Gallatin Ave,Nashville,TN,37206,36.1832883,-86.7475518,4,21,1,Restaurant,"{""RestaurantsPriceRange2"""
24419,Holiday Inn Express Nashville W I40\/Whitebrid...,5612 Lenox Ave,Nashville,TN,37209,36.14840395,-86.85906149,2.5,19,1,Restaurant,"{""RestaurantsPriceRange2"""
32022,Wildlife Wonders,"7703 N Lamar Blvd, Ste 118",Austin,TX,78752,27.8398926,-82.7645055,2,9,1,Restaurant,"{""RestaurantsPriceRange2"""
27916,Pumpernickles Catering,95a Mount Pleasant,Liverpool,XMS,L3 5TB,38.673049,-90.423156,4,5,1,Restaurant,"{""RestaurantsPriceRange2"""

In [19]:
clean_df = data_sorted.reset_index(drop=True)
#resetting the index for the now sorted data

In [22]:
clean_df['stars'] = clean_df['stars'].astype(float)
#changing the datatype of columns from object to float

In [25]:
clean_df['latitude']=clean_df['latitude'].astype(float)

In [26]:
clean_df['longitude']=clean_df['longitude'].astype(float)

In [31]:
unique_states = clean_df['state'].unique()
unique_cities = clean_df['city'].unique()
print(unique_cities)
#getting an idea of how many unique cities and states are stored in the data

['Edmonton' 'Sherwood Park' 'St Albert' 'Beaumont' 'St. Albert'
 'Saint Albert' 'Eaux Claires' 'West Edmonton' 'Southeast Edmonton'
 'AB Edmonton' 'EdMonton' 'NW Edmonton' 'Enoch' 'Tucson' 'Casa Adobes'
 'Oro Valley' 'Marana' 'South Tucson' 'Sahuarita' 'Green Valley'
 'Catalina' 'Vail' 'TUCSON' 'Casas Adobes' 'Tuscon' 'Corona de Tucson'
 'Mount Lemmon' 'Corona De Tucson' 'Santa Barbara' 'Carpinteria' 'Goleta'
 'Isla Vista' 'Summerland' 'Montecito' 'Truckee' 'Greenville' 'Newark'
 'Wilmington' 'New Castle' 'Hockessin' 'Claymont' 'Christiana'
 'Talleyville' 'Bear' 'Stanton' 'Elsmere' 'Yorklyn' 'Centreville'
 'Newcastle' 'Wilmington Manor' 'Edgemoor' 'Aston' 'Tampa'
 'Saint Petersburg' 'Safety Harbor' 'Tampa Bay' 'Wesley Chapel' 'Brandon'
 'Spring Hill' 'Clearwater' 'Kenneth City' 'Largo' 'New Port Richey'
 'St. Petersburg' 'Pinellas Park' 'Riverview' 'Plant City' 'Gibsonton'
 'Palm Harbor' 'St. Pete Beach' 'Zephyrhills' 'St Petersburg' 'Trinity'
 'Holiday' 'Dunedin' 'Tierra Verde' 'Clearwater Beach' 'Port Richey'
 'Treasure Is' 'Seminole' 'Lutz' 'Valrico' 'Ruskin' 'Ozona' 'Hudson'
 'Oldsmar' 'Tarpon Springs' 'Indian Rocks Beach' "Land O' Lakes"
 'Temple Terrace' 'Madeira Beach' 'Odessa' 'HUdson' 'Apollo Beach'
 'wimauma' 'Belleair Bluffs' 'Carrollwood' 'St Pete Beach' 'Wimauma'
 'Treasure Island' 'Saint Pete Beach' 'Land O Lakes' 'South Pasadena'
 'San Antonio' 'Gulfport' 'Indian Shores' 'Seffner' 'Dover' 'Lithia'
 'Lakeland' 'Land o lakes' 'North Redington Beach'
 'Saint Petersburg Beach' 'TAMPA' 'N Redngtn Bch' 'Redingtn Shor'
 'Sun City Center' 'Hillsborough County' "Town 'n' Country" 'South Tampa'
 'Thonosassa' 'Terra Ceia' 'Hernando Beach' 'Greater Northdale'
 'New Prt Rchy' 'Clearwater\\/ Countryside' 'Citrus Park' 'Palmetto'
 'Masaryktown' 'Westchase' 'lutz' 'Thonotosassa' 'Southwest Tampa'
 'Belleair Beach' 'Belleair' "Land O'Lakes" 'Redington Shores' 'St Pete'
 'Dade City' 'North Redington Bch' 'Tampa Florida' 'Boulevard'
 'St.Petersburg' 'ST. PETE BEACH' 'ST. PETERSBURG' 'Pinellas'
 'Redington Shore' 'Petersburg' 'Tarpon springs' 'Twn N Cntry'
 'Palm harbor' 'TEMPLE TERR' 'Hernando Bch' 'Town n Country'
 'Bayonet Point' 'S.Pasadena' 'Largo (Walsingham)' 'Meridian' 'Boise'
 'Garden City' 'Eagle' 'Kuna' 'Meridan' 'Boise City' 'East Boise'
 'Collinsville' 'Edwardsville' 'Fairview Heights' 'Alton' 'Freeburg'
 'Columbia' 'Belleville' "O'Fallon" 'Pontoon Beach' 'Swansea'
 'Granite City' 'Troy' 'Wood River' 'O Fallon' 'Fairmont City' 'Millstadt'
 'Cahokia' 'East Saint Louis' 'Bethalto' 'Waterloo' 'Dupo' 'East Alton'
 'Glen Carbon' 'Caseyville' 'Smithton' 'Sauget' 'Mascoutah' "O' Fallon"
 'Lebanon' 'East St Louis' 'Washington Park' 'Godfrey' 'Shiloh'
 'Maryville' 'Scott Afb' "O'fallon" 'Ofallon' 'Rosewood Heights' 'OFallon'
 'Scott AFB' 'Foster Pond' 'Maryville ' 'Roxana' 'Fairview Hts.'
 'Fairview Hts' 'Brooklyn' 'Cottage Hills' 'Indianapolis' 'Plainfield'
 'Carmel' 'Greenwood' 'Fishers' 'Zionsville' 'Whitestown' 'Brownsburg'
 'Noblesville' 'Avon' 'Whiteland' 'Lawrence' 'Danville' 'Mooresville'
 'Lawrence Township' 'Speedway' 'Greenfield' 'New Palestine' 'Beech Grove'
 'Southport' 'New Whiteland' 'Martinsville' 'Bargersville' 'McCordsville'
 'Camby' 'Cumberland' 'Mc Cordsville' 'indianopolis' 'Wanamaker'
 'Mccordsville' 'Indianapolis city (balance)' 'Plainfiled' 'Fairland'
 'Hancock' 'Clermont' 'Harahan' 'New Orleans' 'Metairie' 'Kenner' 'Harvey'
 'Metarie' 'Chalmette' 'Gretna' 'Belle Chasse' 'Jefferson' 'Westwego'
 'Arabi' 'Terrytown' 'Marrero' 'Downtown' 'Meraux' 'Saint Bernard'
 'Bucktown' 'Violet' 'Avondale' 'River Ridge' 'Metairie ' 'Riveridge'
 'NEW ORLEANS' 'St. Rose' 'Elmwood' 'Bridge City' 'Luling' 'Saint Rose'
 'St.Rose' 'Waggaman' 'Gentilly' 'Bywater' 'Algiers' 'Des Peres'
 'St Louis' 'Normandy' 'Saint Louis' 'Arnold' 'St. Louis' 'Saint Charles'
 'Ballwin' 'Maplewood' 'Olivette' 'Bridgeton' 'Kirkwood' 'Imperial'
 'Maryland Heights' 'Hazelwood' 'University City' 'Richmond Heights'
 'Webster Groves' 'Brentwood' 'Chesterfield' 'Valley Park' 'Manchester'
 'Florissant' 'Creve Coeur' 'Ferguson' 'Shrewsbury' 'St. Charles'
 'St.Louis' 'High Ridge' 'Rock Hill' 'Kimmswick' 'Fenton' 'Berkeley'
 'St Charles' 'Clayton' 'Saint Ann' 'Overland' 'St  Louis' 'Frontenac'
 'Afton' 'Breckenridge Hills' 'St. Peters' 'Black Jack' 'St Ann' 'Ladue'
 'Dellwood' 'Town and Country' 'Affton' 'Crestwood' 'Earth City'
 'Jennings' 'Bellefontaine Neighbors' 'Town and Country ' 'MANCHESTER'
 'St.Charles' 'Green Park' 'Peerless Park' 'Sunset Hills' '\u200bClayton'
 'Town And Country' 'Glendale' 'Saint Louis,' 'Saint John' 'St. Ann'
 'Saint\xa0Louis' 'Sappington' 'Warson Woods' 'Barnhart' 'South County'
 'Mehlville' 'St. Louis County' 'Webster Grvs' 'ST. Louis' 'Boone'
 'Sewell' 'West Berlin' 'Cherry Hill' 'Malaga' 'Trenton' 'Runnemede'
 'Logan Township' 'Camden' 'Burlington' 'Evesham Township' 'Mount Holly'
 'Haddon Heights' 'Mount Laurel' 'Pilesgrove' 'Moorestown' 'Salem'
 'Tabernacle' 'Marlton' 'Pennsauken' 'Palmyra' 'Ewing' 'Cinnaminson'
 'Blackwood' 'Glendora' 'Fieldsboro' 'Voorhees' 'Columbus' 'Delran'
 'Paulsboro' 'Turnersville' 'Bordentown' 'Merchantville' 'Maple Shade'
 'Clementon' 'Sicklerville' 'Woodbury' 'Audubon' 'Hainesport'
 'Gloucester Township' 'Lambertville' 'Mantua' 'Collingswood' 'Barrington'
 'Westville' 'Washington Township' 'Riverside' 'Haddonfield'
 'Gloucester City' 'Deptford' 'DELRAN' 'Evesham' 'Hamiltion' 'Somerdale'
 'Ewing Township' 'Berlin' 'Westmont - Haddon Towsship' 'Riverton'
 'Berlin Township' 'Medford' 'Penns Grove' 'Hamilton Township'
 'National Park' 'West Deptford' 'Westampton' 'Magnolia' 'Elmer'
 'Glassboro' 'Stratford' 'Bellmawr' 'Lawnside' 'Haddon Township'
 'Woolwich Township' 'Pitman' 'Lindenwold' 'Woodstown' 'Voorhees Township'
 'Bordentown Township' 'Cedar Brook' 'Mickleton' 'Titusville' 'Mt Laurel'
 'Franklinville' 'Edgewater Park' 'Waterford Works' 'Beverly' 'Hamilton'
 'Williamstown' 'Mullica Hill' 'Alloway' 'Pennsville' 'Pemberton'
 'Southampton Township' 'Mansfield' 'Winslow Township' 'Folsom'
 'Swedesboro' 'Gibbsboro' 'Mantua Township' 'Brooklawn'
 'Willingboro Township' 'Harrison Township' 'Roebling' 'Atco'
 'Woodbury Heights' 'Newfield' 'Richwood' 'Deptford Township' 'Florence'
 'Lumberton' 'Willingboro' 'W. Berlin' 'Westmont' 'Oaklyn' 'Mt. Laurel'
 'Westhampton' 'Thorofare' 'Southampton' 'Pennsauken Township' 'Erial'
 'Mt Holly' 'Shamong' 'Gibbstown' 'Pine Hill' 'Mount Ephraim' 'Wenonah'
 'Maple Shade Township' 'Hurffville' 'Clarksboro' 'Pennington'
 'Monroe Township' 'Eastampton' 'Washington Twp' 'Laurel Springs'
 'Vincentown' 'Chesilhurst' 'Tren' 'Jobstown' 'South Harrison Township'
 'Lawrenceville' 'Burlington Township' 'Had Twp' 'Mount Holly,'
 'Mt.Laurel' 'Hammonton' 'Pennsville Township' 'West Mount Holly'
 'Moorestown-Lenola' 'Mount Laurel Township' 'West Collingswood Heights'
 'Carneys Point' 'Mt. Holly' 'Pine HIll' 'pennsauken' 'Audubon ' 'Haddon'
 'Vineland' 'South Cinnaminson' 'Mercerville' 'Bridgeport' 'Medford Lakes'
 'Monroeville' 'Quinton' 'Reno' 'Sparks' 'Sun Valley' 'Verdi' 'reno'
 'Spanish Springs' 'Virginia City' 'Fernley' 'RENO' 'Cold Springs' 'Stead'
 'Reno ' 'Brookhaven' 'West Chester' 'Lower Southampton Township'
 'Philadelphia' 'Media' 'Royersford' 'Newtown Square' 'New Hope'
 'Havertown' 'Gilbertsville' 'Feasterville Trevose' 'Downingtown'
 'Kennett Square' 'Wayne' 'Bala Cynwyd' 'Eagleville' 'Exton' 'Glenside'
 'Malvern' 'Blue Bell' 'Feasterville-Trevose' 'Doylestown' 'Levittown'
 'Morrisville' 'Ardmore' 'Chalfont' 'Broomall' 'Plymouth Meeting'
 'Hatboro' 'Linwood' 'Dresher' 'Sellersville' 'Primos' 'Phoenixville'
 'Pottstown' 'Pennsylvania' 'Conshohocken' 'Flourtown' 'Wynnewood'
 'Boothwyn' 'Fairless Hills' 'Bryn Mawr' 'Prospect Park' 'Rosemont'
 'Paoli' 'Ambler' 'Bensalem' 'Norristown' 'Springfield' 'Narberth'
 'Radnor' 'Warrington' 'Bristol' 'Upper Darby' 'Telford' 'Croydon'
 'West Conshohocken' 'Abington' 'North Wales' 'Lansdale' 'Collingdale'
 'Thorndale' 'Richboro' 'Willow Grove' 'Harleysville' 'Linfield'
 'NORTH WALES' 'King of Prussia' 'Chadds Ford' 'Hatfield'
 'Washington Crossing' 'Colmar' 'Cheltenham' 'Lafayette Hill' 'Glen Mills'
 'Chester' 'Newtown' 'Kulpsville' 'Glenolden' 'King Of Prussia' 'Trevose'
 'Yardley' 'Merion Station' 'Ridley Park' 'Jenkintown' 'Swedeland'
 'Elkins Park' 'Perkiomenville' 'Holland' 'Schwenksville' 'Warminster'
 'Fort Washington' 'Wyncote' 'Southwest Philadelphia' 'Holmes' 'Horsham'
 'Villanova' 'Chester Springs' 'Pennsburg' 'East Norriton' 'Swarthmore'
 'Morton' 'Huntingdon Valley' 'Yeadon' 'Folcroft' 'Essington' 'Quakertown'
 'Langhorne' 'Skippack' 'Berwyn' 'Cedars' 'New Britain' 'Oreland'
 'Collegeville' 'spring city' 'Buckingham' 'Woodlyn' 'Souderton'
 'Spring City' 'Concordville' 'Devon' 'Drexel Hill' 'Pineville' 'Aldan'
 'Perkasie' 'Boyertown' 'Stowe' 'Maple Glen' 'Gwynedd Valley' 'Crum Lynne'
 'Upper Chichester' 'Secane' 'Wyndmoor' 'Lansdowne' 'Limerick'
 'Carversville' 'Jamison' 'Mendenhall' 'Eddystone' 'Coatesville'
 'Montgomeryville' 'Frazer' 'UPPER MORELAND' 'Roslyn' 'West Point'
 'Dublin' 'Spring House' 'Clifton Heights' 'Marcus Hook' 'Bucks' 'Lahaska'
 'Upper Pottsgrove' 'Sassamansville' 'Oaks' 'Chichester' 'Green Lane'
 'Norwood' 'Trappe' 'Bensalem. Pa' 'Parkside' 'Pipersville' 'Tylersport'
 'Skippack Village' 'Feasterville' 'Plumsteadville' 'Darby' 'Sharon Hill'
 'Penndel' 'LOWER MERION' 'WILLOW GROVE' 'Telford ' 'East Falls'
 'Garnet Valley' 'Holicong' 'Abington Township' 'Fairview Village'
 'Sumneytown' 'WEST CHESTER' 'Trooper' 'Toughkenamon' 'Upland'
 'Zieglerville' 'Trainer' 'Wrightstown' 'E. Norristown' 'Milmont Park'
 'Rockledge' 'NORRISTOWN' 'Hilltown' 'Lionville' 'Landsdale' 'Newtown Sq'
 'Zieglersville' 'Roxborough' 'Newton' 'Haverford' 'Gulph Mills'
 'Erdenheim' 'Saint Peters' 'Red Hill' 'Ivyland' 'FOLSOM' 'Philadephia'
 'Sanatoga' 'Glenn Mills' 'Strafford' 'Lima' 'New Berlinville'
 'Wallingford' 'Churchville' 'Glenmoore' 'Chesterbrook' 'abington'
 'Merion Park' 'Cheltenham Township' 'Lower Gwynedd Township'
 'philadelphia' 'PHILA' 'Lower Merion' 'Hollywood' 'Furlong' 'LANSDALE'
 'LOWER PROVIDENCE' 'Worcester' 'Birchrunville' 'Bethel' 'Gladwyne'
 'W.Chester' 'Silverdale' 'Lester' 'Lenni' 'Valley Forge' 'Parker Ford'
 'Virtual' 'horsham' 'Norriton' 'Solebury' 'Southhampton'
 'Cornwells Heights' 'Westtown' 'St. Davids' 'Drexel Hil' 'Phila'
 'Old Hickory' 'Nolensville' 'Nashville' 'Mount Juliet' 'Franklin'
 'Hendersonville' 'Madison' 'La Vergne' 'Smyrna' 'White House' 'Hermitage'
 'Antioch' 'Goodlettsville' 'Lavergne' 'Gallatin' 'Mt Juliet' 'Mt. Juliet'
 'Ashland City' 'Joelton' 'Bellevue' 'Greenbrier' 'Cane Ridge' 'Ashland'
 'East Nashville' 'Pleasant View' 'Kingston Springs' 'Belle Meade'
 'Whites Creek' 'Nashville-Davidson metropolitan government (balance)'
 'Berry Hill' 'Austin' 'Liverpool']

In [32]:
clean_df

,name,address,city,state,zip_code,latitude,longitude,stars,review_count,is_open,categories,attributes
0,Dairy Queen Grill & Chill,12708 140 Ave NW,Edmonton,AB,T6V 1K4,53.602374,-113.542134,3.5,7,1,Restaurant,"{""RestaurantsTakeOut"""
1,The King & I Thai Cuisine,8208 107 St NW,Edmonton,AB,T6E 6P4,53.518406,-113.506546,3.0,46,0,Restaurant,"{""RestaurantsReservations"""
2,Wee Book Inn,10328 Jasper Avenue NW,Edmonton,AB,T5J 1Y7,53.541138,-113.498214,4.5,13,0,Restaurant,"{""RestaurantsPriceRange2"""
3,The Lunchbox Diner,14413 115 Avenue NW,Edmonton,AB,T5M 3B8,53.565039,-113.569938,4.5,13,1,Restaurant,"{""RestaurantsReservations"""
4,Wee Book Inn,15125 Stony Plain Road NW,Edmonton,AB,T5P 3Y2,53.541173,-113.582661,3.5,8,0,Restaurant,"{""RestaurantsPriceRange2"""
...,...,...,...,...,...,...,...,...,...,...,...,...
32922,Farm 2 Fork,400 21st Ave S,Nashville,TN,37203,36.147201,-86.798880,3.0,8,1,Restaurant,"{""RestaurantsTakeOut"""
32923,ALDI,615 Gallatin Ave,Nashville,TN,37206,36.183288,-86.747552,4.0,21,1,Restaurant,"{""RestaurantsPriceRange2"""
32924,Holiday Inn Express Nashville W I40\/Whitebrid...,5612 Lenox Ave,Nashville,TN,37209,36.148404,-86.859061,2.5,19,1,Restaurant,"{""RestaurantsPriceRange2"""
32925,Wildlife Wonders,"7703 N Lamar Blvd, Ste 118",Austin,TX,78752,27.839893,-82.764505,2.0,9,1,Restaurant,"{""RestaurantsPriceRange2"""
32926,Pumpernickles Catering,95a Mount Pleasant,Liverpool,XMS,L3 5TB,38.673049,-90.423156,4.0,5,1,Restaurant,"{""RestaurantsPriceRange2"""

In [33]:
clean_df.to_csv('restaurants_usa.csv',index=False)
#exporting cleaned and restructured data to csv